<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In this notebook, various Data Science Tools and Ecosystem are summarized.

**Objectives**
  * Jupyter Notebook 
  * Tools used for Data Science
  * IBM Watson Studio
  * R Studio
  * Different Tools used for Data Science

Some of the popular languages Data Scientists use are :
1. Python
2. R Language
3. Structured Query Language (SQL)

Some of the commonly used libraries are :
1. Tensor Flow
2. Pytorch
3. Scikit-learn
4. Pandas

| Data Science Tools |
| ------------------ |
| MySQL              |
| PostresSQL         |
| MongoDB            |

### Below are cells are the examples of arithematic expressions in Python

In [9]:
# This is a simple arithematic expression to multiply and then add 
a= (3*4)+5
print (a)

17

In [11]:
# This will convert 200 minutes to hours by dividing by 60
hours = 200/60
print (hours)

3.3333333333333335

## Author
Bhavya Amala Kosana